defaultRules:
  create: false

alertmanager:
  enabled: false

# Disable Prometheus Service Monitor for below components
kubeApiServer:
  enabled: false
kubeControllerManager:
  enabled: false
coreDns:
  enabled: false
kubeEtcd:
  enabled: false
kubeScheduler:
  enabled: false
kubeProxy:
  enabled: false
